
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

// Bootstrap
//@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import 'node_modules/bootstrap/scss/bootstrap';
// Custom
@import 'custom';

// .navbar-laravel {
//   background-color: #fff;
//   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
// }
